node_modules
dist
.env
/src/generated/prisma

# Logs
*.log
logs/

# Debug Scripts
/scripts/debug/

# Temporary Files
tmp/
temp/
*.txt
*.json
!package.json
!package-lock.json
!tsconfig.json
!vitest.config.ts

# OS Files
.DS_Store
Thumbs.db
